<h1>Eat the Burger!</h1>

<h2>burgers not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">devourred?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Not devoured
  </div>

  <button type="submit">Add a Burger</button>
</form>
